@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
    
* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', monospace;
    
}
body {
    background-color: slategrey;
    background-image: url('assets/forest.jpg');
    background-size:100%;
    /* background-repeat: no-repeat; */
}   
h2 {
    text-align: center;
    margin: 20px 0;
    color: yellow;
    -webkit-text-stroke: 1px black;
    -moz-text-stroke: 1px black;
}
    
#the-dojo {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#gameover {
    padding: 5px;
    margin: auto;
    display: none;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    text-align: center;
    width: 310px;
    height: 310px;
    position: relative;
    background-color: rgba(0,0,0,.7);
    top: -320px;
    font-size: 130%;
    font-weight: 500;
    opacity: 90%;
    color: red;
    text-stroke: 1px maroon;
    -webkit-text-stroke: 1px maroon;
    -moz-text-stroke: 1px maroon;
    font-weight: 900;
}
.tatami {
    background-color: forestgreen;
    height: 32px;
    width: 32px;
    border: 1px solid saddlebrown;
    border-right: 1px solid saddlebrown;
    border-bottom: 1px solid saddlebrown;
    color:black;
    -webkit-text-stroke: 1% white;
    -moz-text-stroke: 1% white;
}
.bush {
    background-image: url(assets/bush.png);
    background-size: contain;
}
    
.tatami:active {
    border: 2px solid #999;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background-color: white;
}

.shuriken {
    background-image: url('assets/star.png');
    background-size: contain;
}

#restart {
    width: 50%;
    height: 2em;
    border-radius: 15%;
    background-color: black;
    color: crimson;
}
div a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: fit-content;
    margin: 5% auto;
    /* display: flex; */
    /* justify-content: center; */
    /* width: 21%; */
    /* position: relative; */
    /* bottom: 2%; */
    /* left: 40%; */
}
a {
    background-color: black;
    margin: auto;
    font-size: 50%;
    text-decoration: none;
    color: cyan;
}